<section class="team text-center section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">We're a team that adore what we do</h1>
      </div>
    </div>
    <div class="row">
      <div class="team-wrapper">
        <div id="teamSlider">
          <ul class="slides">
            <li>
              <div class="col-md-4 wp5">
                <%= image_tag("team-01.png", alt: "Team Member") %>
                <h2>Jon Snow</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              
              <div class="col-md-4 wp5 delay-05s">
                <%= image_tag("team-02.png", alt: "Team Member") %>
                <h2>Cersei Lannister</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 wp5 delay-1s">
                <%= image_tag("team-03.png", alt: "Team Member") %>
                <h2>Jamie Lannister</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="col-md-4 wp5">
                <%= image_tag("team-01.png", alt: "Team Member") %>
                <h2>Jon Snow</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 wp5 delay-05s">
                <%= image_tag("team-02.png", alt: "Team Member") %>
                <h2>Cersei Lannister</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 wp5 delay-1s">
                <%= image_tag("team-03.png", alt: "Team Member") %>
                <h2>Jamie Lannister</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>