<header id="home">

	<%= render partial: 'nav' %>

  <%= render partial: 'hero' %>

</header>

<section class="intro text-center section-padding" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">How We Can Change Your Life</h1>
        <p>Sed a lorem quis neque interdum <a href="#">consequat ut sed sem</a>. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
    </div>
  </div>
</section>


<%= render partial: 'services' %>


<section class="text-center" id="responsive">
  <div class="container-fluid nopadding responsive-services">
    <div class="wrapper">
      <div class="iphone">
        <div class="wp3"></div>
      </div>
      <div class="fluid-white"></div>
    </div>
    <div class="container designs">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div id="servicesSlider">
            <ul class="slides">
              <li>
                <h1 class="arrow">One-on-One Coaching</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                <p>
                Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
              </li>
              <li>
                <h1 class="arrow">Discover and Define on Your Own Time</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                <p>
                Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="swag text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Don't seek approval <span>rather <em>authentically deliver</em> yourself</span></h1>
        <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
      </div>
    </div>
  </div>
</section>


<%= render partial: 'portfolio' %>


<div class="ignite-cta text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="ignite-btn">Ignite Your Passion</a>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'about_us' %>


<section class="subscribe text-center">
  <div class="container">
    <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
    <form action="#">
      <input type="text" name="" value="" placeholder="" required>
      <input type="submit" name="" value="Send">
    </form>
  </div>
</section>

<%= render partial: 'contact_us' %>

<%= render partial: 'footer' %>